#header-container-wrap{
  width: 100dvw;
  height: 50px;

  display: flex;
  justify-content: center;

  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

#header-container {
  width: 1280px;
  height: 49px;
  display: flex;
  justify-content: space-between;
}

.header-image-wrap {
  width: 90px;
  height: 25px;

  margin-top: 12px;

  display: flex;
  align-items: center;
}

header .tokdill-icon {
  width: 90px;
  height: 25px;
}

.menu-wrap {
  width: 240px;
  height: 100%;

  display: flex;
}

/* 헤더 우측 메뉴 아이콘 컨테이너 */
header .menu-icon-wrap {
  width: 52px;
  height: 49px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-child .menu-icon {
  width: 28px;
  height: 28px;
}

.header-child .line-border {
    width: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: solid 1px black;
}

.header-child .login-text-wrap {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 70px;
}

header a{
  text-decoration: none;
  color: black;
}

/* 타이틀 컨테이너 */
#title-container {
  width: 100dvw;
  height: 102.23px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: solid 1px black;
  box-sizing: border-box; */
}

header .title-wrap {
  width: 179.95px;
  height: 21.23px;
}

header .title-wrap-logo {
  margin-bottom: 10px;
}

header .kakao-friends {
  width: 179.95px;
  height: 21.23px;
}

header .title-wrap-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .info {
  font-size: 12px;
}

/* 상단 컨테이너(메뉴,검색) */
#top-container-wrap {
  width: 100dvw;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

#top-container {
  width: 1280px;
  height: 100%;

  display: flex;
  justify-content: space-between;
}

#top-container-wrap .menu {
  width: 895px;
  height: 100%;

  display: flex;
  gap: 35px;
}

#top-container .menu-element {
  display: flex;
  align-items: center;
}

#top-container .menu-text {
  font-size: 16px;
}

.menu > div:nth-child(1) {
  border-bottom: solid 2px orange;
}

/* 상단 컨테이너 검색 */
#top-container-wrap .search {
  width: 220px;
  height: 35px;
  
  display: flex;
  align-items: center;

  border: solid 1px rgba(0,0,0,0.1);
  box-sizing: border-box;
  border-radius: 5%;
}

#top-container .search-input {
  width: 170px;
  height: 28px;
  margin-left: 10px;
  border: solid 0px;
}

#top-container .search-img {
  width: 20px;
  height: 20px;
  margin: 4px;
}

/* 4번째 컨테이너 : 이미지 롤링 */
#image-rolling-container-wrap {
  width: 100dvw;
  height: 450px;

  display: flex;
  justify-content: center;
}

#image-rolling-container {
  width: 1280px;
  height: 100%;

  display: flex;
  align-items: end;
}

#image-rolling-container .banner {
  width: 1280px;
  height: 420px;
}

/* 5번째 컨테이너 : 새로 나왔어요! */
#new-item-list-container-wrap {
  width: 100dvw;
  height: 384px;

  display: flex;
  justify-content: center;
}

#new-item-list-container {
  width: 750px;
  height: 100%;

  border-bottom: solid 10px rgba(0, 0, 0, 0.05);
}

#new-item-list-container .title {
  height: 54px;

  display: flex;
  align-items: center;
}

#new-item-list-container .new-text {
  font-size: 19px;
  margin-top: 12px;
}

/* 5번째 컨테이너 : 새로 나왔어요! > 아이템 리스트 */
#new-item-list-container .item-list {
  width: 100%;
  height: 272.95px;
  margin-top: 10px;

  display: inline-flex;
  gap: 8px;

  overflow: hidden;
}

#new-item-list-container .item-list-element {
  width: 150px;
  height: 272.95px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

#new-item-list-container .list-img-wrap {
  width: 150px;
  height: 150px;
}

#new-item-list-container .list-img {
  width: 150px;
  height: 150px;
  border-radius: 10%;
}

#new-item-list-container .list-name-text {
  width: 100%;
  height: 37.99px;
  line-height: 1.2;
}

#new-item-list-container .list-price .list-price-text {
  font-size: 17px;
}

#new-item-list-container .list-review-text-star, 
#store-product .list-review-text-star {
  font-size: 12px;
  color: orange;
}

#new-item-list-container .list-review-text,
#store-product .list-review-text {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}

#new-item-list-container .delivery,
#store-product .delivery {
  width: 48.42px;
  height: 20px;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10%;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2px;
}

#new-item-list-container .cart-icon,
#store-product .cart-icon {
  width: 12px;
  height: 12px;
}

#new-item-list-container .price,
#store-product .price {
  font-size: 11px;
}

/* 6번째 컨테이너 : 카테고리 리스트 */
#category-container-wrap {
  width: 100dvw;
  height: 200px;

  display: flex;
  justify-content: center;
}

#category-container {
  width: 750px;
  height: 100%;

  display: flex;
  flex-wrap: wrap;

  padding: 30px 0px 0px 0px;

  border-bottom: solid 10px rgba(0, 0, 0, 0.1);
}

#category-container .category-element {
  width: 135px;
  height: 72.99px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
  margin: 0px 0px 18px;
  padding: 0px 6px;
}

#category-container .category-img {
  width: 53.99px;
  height: 53.99px;
  border-radius: 20%;
}

#category-container .category-text {
  width: 53.99px;
  height: 18.99px;
  text-align: center;
  font-size: 11px;
}

.space67 {
  height: 40px;
}

/* 7번째 컨테이너 상점 상품 */
#store-product-wrap {
  width: 100dvw;
  height: 975px;

  display: flex;
  justify-content: center;
}

#store-product {
  width: 730px;
  height: 100%;
}

#store-product .title {
  width: 100%;
  height: 54px;

  display: flex;
  align-items: center;
}

#store-product .title-text {
  font-size: 20px;
  margin: 20px 0 0 0;
}

#store-product .product-list {
  height: 840px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

#store-product .list-element {
  width: 714px;
  height: 156px;

  display: flex;
  gap: 10px;
}

#store-product .image-wrap, #store-product .product-img {
  width: 156px;
  height: 156px;
}

#store-product .product-img {
  border-radius: 10%;
}

#store-product .product-info {
  width: 544px;
  height: 156px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

#store-product .item-title {
  font-size: 15px;
}

#store-product .origin-price {
  font-size: 12px;
  text-decoration: line-through;
}

#store-product .discount {
  color: red;
}

#store-product .view-more {
  width: 714px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
}

#store-product .view-more-text {
  text-decoration: none;
  color: black;
}

/* 8번째 컨테이너 : 광고? */
#ad-container-wrap {
  width: 100dvw;
  height: 310px;

  display: flex;
  justify-content: center;
}

#ad-container {
  width: 750px;

  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

#ad-container .header-image-wrap, #ad-container .ad-image {
  width: 750px;
  height: 250px;
}

#ad-container .page-dot {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ad-container .page-dot-text {
  font-size: 8px;
}

/* 9번째 컨테이너 : 프렌즈X콜라보 */
#friends-collab-container-wrap {
  height: 190px;

  display:  flex;
  justify-content: center;
}

#friends-collab-container {
  width: 750px;
  height: calc(100% - 30px);

  padding-top: 30px;
}

#friends-collab-container .title {
  width: 714px;
  height: 22px;
  padding: 0 18px 16px;
}

#friends-collab-container .title-text {
  font-size: 18px;
  font-weight: bold;
}

#friends-collab-container .content-list {
  width: 750px;
  height: 114px;

  display: flex;
  flex-wrap: wrap;
}

#friends-collab-container .content-element {
  width: 351px;
  height: 36px;
  border: solid 1px black;
  box-sizing: border-box;
}