.star {
  animation: twinkle 1s ease-in 0s infinite;
  /* 애니메이션 id, 지속시간, 스타일, (이후부터 생략가능  */
}

.bear {
  animation: rotation 4s ease-in-out 2 forwards;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */

  width: 300px;
  height: 300px;
}

h1 {
  animation: fade-in 0.7s ease-in;
}

p {
  animation: fade-in 0.7s ease-in 0.4s;
}

@keyframes fade-in {
  from {
    transform: translate(0, 20px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(60deg);
  }
  30% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(260deg);
  }
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}