#star {
  animation: blink 1s linear infinite;

  width: 100px;
  height: 100px;
}

#div2 {
  height: 200px;
  display: flex;
  align-items: end;
}

#div3 {
  height: 200px;
  display: flex;
  align-items: end;
}

#div4 {
  height: 200px;
  display: flex;
  align-items: center;
  transform: translate(100px, 0);
}

#div5 {
  height: 500px;
  display: flex;
  gap: 10px;
  align-items: end;
}

#div6 {
  height: 200px;
  display: flex;
  align-items: end;
}

#div2 span {
  animation: appear-up 0.7s ease-out 1 forwards;
}

#div3 #ball {
  animation: bounds 1s ease-in-out infinite;

  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: blue;
}

#div4 #ugly {
  animation: scale-up-down 0.7s linear infinite;
  width: 100px;
  height: 100px;
}

#div5 .wave {
  width: 100px;
  height: 100px;
  background-color: pink;
}

#div6 img {
  width: 100px;
  height: 100px;

  animation: rotate 0.7s linear infinite;
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

#div5 #wave1 {
  animation: wave 1s linear 0s infinite;
}
#div5 #wave2 {
  animation: wave 1s linear 0.2s infinite;
}
#div5 #wave3 {
  animation: wave 1s linear 0.4s infinite;
}
#div5 #wave4 {
  animation: wave 1s linear 0.6s infinite;
}
#div5 #wave5 {
  animation: wave 1s linear 0.8s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear-up {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, -180px);
  }
}

@keyframes bounds {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -180px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes scale-up-down {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wave {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -180px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
