.img {
  width: 300px;
  height: 300px;
  background-size: 100%;
  background-image: url(/day04/images/position-task01.jpg);
}

#container {
  display: flex;
  gap: 4px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: orange;
}

@media screen and (min-width: 0) and (max-width: 599px) 
{
  #container {
    flex-direction: column;
  }

  .img {
      background-image: url(/day04/images/canny9-5.PNG);
  }
}
/* 600px ~ 1200px */
@media screen and (min-width: 600px) and (max-width: 1280px) {
  .img {
    background-image: url(/day04/images/Phase10-5.webp);
  }
}