/* 
overflow : auto는 자식크기가 커지면 스크롤이 생긴다
 */
#container {
  width: 300px;
  height: 300px;
  border: solid 2px black;

  overflow: auto;
}

.component {
  width: 200px;
  height: 200px;
  margin: 4px;
  background-color: green;
}