#container {
  border: solid 1px black;
}

.banner {
  width: 100%;
  height: 100px;
  background-color: green;
}

#container header {
  width: 100%;
  height: 40px;
  background-color: pink;

  /* position: fixed; */
  position: sticky;
  left: 0;
  top: 0;  
}

#container main {
  width: 100;
  height: 500vh;

  padding-top: 40px;
}

#container footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: blue;
}

a {
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: solid 1px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  position: fixed;
  right: 5%;
  bottom: 10%;
}