#container {
  display: flex;
  gap: 4px;
  /* width: 800px;
  height: 800px; */
}

.box {
  width: 100px;
  height: 100px;
  background-color: coral;
}

/* .box1 {
  align-self: flex-end;
}

.box5 {
  order: -1;
}

.box6, .box2 {
  flex-grow: 1;
} */