/* 
  flex는 부모가 자식을 정렬하는 속성 
  flex는 좌에서 우로 배치시킨다. (메인 축이라고한다 main axis)
  방향을 direction이라고 한다.
*/
#flex-wrapper {
  width: 100%;
  height: 100dvh;
  display: flex;
  /* flex-direction: row; 생략되었다. */
}

.item {
  width: 100px;
  height: 100px;
  background-color: green;
  margin: 4px;
}

.aa {
  width: 300px;
}