#layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  width: 100%;
  height: 60px;
  border: solid 1px black;
}

.content {
  background-color: green;
  flex-grow: 1;
}

.footer {
  width: 100%;
  height: 60px;
  border:  solid 1px black;
}