#parent-div {
  width: 570px;
  height: 570px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: solid 2px black;
}

#child-wrap-div {
  width: calc(100% - 60px);
  /* height: 760px; */

  display: inline-flex;
  flex-wrap: wrap;

  gap: 10px;
}

#up-left {
  width: 300px;
  height: 200px;

  background-color: green;
}

#up-right {
  width: 200px;
  height: 200px;

  background-color: yellow;
  border-radius: 50%;
}

#down-left {
  width: 300px;
  height: 300px;

  background-color: magenta;
}

#down-right {
  width: 200px;
  height: 300px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.down-right-child {
  width: 100%;
  height: 100px;

  background-color: blue;
}

