/* 
브라우저의 위아래 크기를 감지하지 못한다.
*/

#container {
  width: calc(100% - 40px);
  height: 100vh;
  border: solid 2px black;
  margin: 0 auto;
}

#children {
  /* width: 50%;
  height: 100%;
  background-color: green; */
}