#main {
  width: 1000px;

  display: flex;
  flex-wrap: wrap;
  background-color: blue;
}

.sub {
  width: 200px;
  height: 150px;

  background-color: yellow;
  border: solid 1px;
  box-sizing: border-box;
}

