.item {
  width: 200px;
  height: 200px;
  background-color: orange;
}

#item1 {
  margin-top: 30px;
    margin-right: 60px;
    margin-left: 40px;
    margin-bottom: 60px
}

#item2 {
  /*
    위의 요소와 아래 요소의 바깥 여백이 겹친다면,
    합쳐지지 않고 큰 값으로 적용된다.
  */
  margin-top: 60px;
}

#item3 {
  /* 
    위, 오른쪽, 아래, 왼쪽
  */
  margin: 10px 30px 60px 90px;
}

#item4 {
  /* 
    위아래, 오른쪽왼쪽
  */
  margin: 40px 100px  
}

#item5 {
  /* 
    auto : 여백을 모두 사용하는 속성
    left 공간을 여백으로 모두 사용해라
  */
  margin-left: auto;
}


#margin6 {
  /* 
    좌우 공간을 여백으로 모두 사용한다면
  */
  margin: 0 auto;
}