/* 
  태그[속성명='속성값']
*/
input[type='text'] {
  border: solid 1px blue;
}

input[placeholder='비밀번호를 입력하세요'] {
  border: solid 1px green;
}

/* 
  '비밀번호' 를 포함하는 글자
*/
input[placeholder*='비밀번호'] {
  border: solid 1px green;
}

/* 
  '비밀번호' 를 시작하는 글자
*/
input[placeholder^='비밀번호'] {
  border: solid 1px green;
}