#Element-wrap {
  width: 1000px;
  background-color: yellow;

  display: flex;
  flex-wrap: wrap;
}

.image-wrap {
  width: 200px;
  height: 200px;
}

.element {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.element img {
  width: 200px;
  height: 200px;
}

.element .content {
  width: 100%;
  height: 50px;
  display:  flex;
  justify-content: center;
  align-items: center;
  text-align: center
}